name: .NET Core CI

on:
  push:
    branches: [ "main", "feature/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore PersonnummerProjekt.sln

      - name: Build
        run: dotnet build PersonnummerProjekt.sln --no-restore

      - name: Test
        run: dotnet test PersonnummerProjekt.sln --no-build --verbosity normal
        # will add only login & push docker on push to main
      - name: Login to Dockerhub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_NAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: 91ogsn/Personnummerkontroll:latest


