name: .NET Core CI

on:
  push:
    branches: [ "main", "feature/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      # Här lägger vi till namnet på lösningsfilen
      run: dotnet restore PersonnummerProjekt.sln

    - name: Build
      # Här lägger vi till namnet på lösningsfilen
      run: dotnet build PersonnummerProjekt.sln --no-restore

    - name: Test
      # Här lägger vi till namnet på lösningsfilen
      run: dotnet test PersonnummerProjekt.sln --no-build --verbosity normal